{% extends 'home/base.html' %}

<style>
.box{
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  14px 14px 28px #cacaca,
             -14px -14px 28px #f6f6f6;
    zoom: 0.9%;
}
.card{
    border: none !important;
}
</style>

{% block content %}


<div class="d-flex" style="min-width: 100vw;">
    <div style="width: 230px;">
        {% include 'home/sidebar.html' %}
    </div>
    <div style="width:85vw;">
        

    <div class="container">
        {% include 'home/topbar.html' %}
        <div class="row justify-content-evenly mt-3">
            <div class="col-md-3">
                <div class="shadow-sm rounded p-3 d-flex align-items-center justify-content-center">
                    <div>
                        <h5 class="card-title">Total Revenue</h5>
                        <h1 class="text-success">{{revenue}}</h1>
                    </div>
                </div>
                
            </div>
            <div class="col-md-3">
                <div class="shadow-sm rounded p-3 d-flex align-items-center justify-content-center">
                    <div>
                        <h5 class="card-title">Total Profit</h5>
                        <h1 class="text-primary">{{profit}}%</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shadow-sm rounded p-3 d-flex align-items-center justify-content-center">
                    <div>
                        <h5 class="card-title">Total Products</h5>
                        <h1>{{total_products}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-8">
                <div class="container">
                    <h5 class="card-title">Sales Analytics</h5>
                    <canvas id="Chart1" height="400" width="600"></canvas>
                </div>
                
            </div>

            <!-- Right Side Sections -->
            <div class="col-md-4">
                <!-- Low on Stock -->
                <div class="container" style="max-height: 300px; min-height:100px; overflow-y:scroll;">
                    <h5>Low on stock</h5>
                    {% if low_stock %}
                    {% for product in low_stock %}
                    <div class="border-bottom  justify-content-between d-flex align-items-center px-3 py-2">
                        <a href="{% url 'edit-product' product.id %}">
                            {{product.name}}
                        </a>
                        <span>Stock: {{product.stock}}</span>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="border-bottom  justify-content-between d-flex align-items-center px-3 py-2">
                        <span>No products low on stock</span>
                    </div>
                    {% endif %}
                </div>
                <br>
                <div class="container">
                    <h5> Daily Analytics</h5>
                    <canvas id="Chart2" height="400" width="400"></canvas>
                </div>
        </div>
    </div>
    </div>
    </div>
    <script>
        fetch("{% url 'charts-data' %}").then(response => response.json()).then(data => {
            console.log(data);
            //get keys of the data
            const xValues = data["dataX"];
            const yValues = data["dataY"];
            const xValues2 = data["dataX2"];
            const yValues2 = data["dataY2"];
            new Chart("Chart1", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        label:"Sales",
                        fill: true,
                        lineTension: 0,
                        backgroundColor: "rgba(49, 104, 224, 0.58)",
                        borderColor: "#295CDE",
                        data: yValues,
                    }]
                },
                options: {
                    legend: { display: false },
                    scales: {
                        yAxes: [{ ticks: { beginAtZero: true } }]
                    }
                }
            });

        new Chart("Chart2", {
                type: "line",
                data: {
                    labels: xValues2,
                    datasets: [{
                        label: "Cutomer Count",
                        fill: true,
                        lineTension: 0,
                        backgroundColor: "rgba(49, 104, 224, 0.58)",
                        borderColor: "#295CDE",
                        data: yValues2,
                    }]
                },
                options: {
                    legend: { display: false },
                    scales: {
                        yAxes: [{ ticks: { beginAtZero: true } }]
                    }
                }
            });
        });

    </script>
{% endblock %}
