<style>
    .sidebar{
    width: 230px;
    height: 100vh;
    border-right:solid 1px rgb(216, 216, 216);
}
.sidebar-collapse{
    width: 50px;
    height: 100vh;
    border-right:solid 1px rgb(216, 216, 216);
    overflow: hidden;
}
.sidebar-collapse ul li{
    text-wrap:calc(0);
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
}
.sidebar>ul>li:hover {
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding-left: 10px;
    transition: background-color 0.3s, padding-left 0.3s;
}
.sidebar>ul>li {
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}

</style>
<div class="fixed-top sidebar bg-white pt-4 px-2">
    <div class="user-profile d-flex mt-3" style="height: 5px;">

    </div>
    <hr>
    <ul>
        <li><a href="/home/"><i class="fa fa-home mx-2" aria-hidden="true"></i>Dashboard</a></li>
        <!-- <li><i class="fa fa-home mx-2" aria-hidden="true"></i>Dashboard<br><br></li> -->
        <li><a href="{% url 'view-products' %}"><i class="fa fa-square-check mx-2" aria-hidden="true"></i> Stock Management </a></li>
         <li><a href="{% url 'add-products' %}"><i class="fa fa-circle-plus mx-2" aria-hidden="true"></i> Add Product </a></li>
        <li><i class="fa fa-chart-simple mx-2" aria-hidden="true"></i> Reports & Analytics</li>
        <li><i class="fa fa-cart-shopping mx-2" aria-hidden="true"></i> Store Manager</li>
        <li class="bg-primary "><a href="{% url 'initiate-order' %}" class="text-white"> <i class="fa fa-plus-circle mx-2" aria-hidden="true"></i> Record New Order</a></li>
        <br>
        <br>
        {% if request.session.order %}
        <div class="d-flex justify-content-between align-items-center">
            Products in cart
                <a href="{% url 'billing' %}"><button class="btn btn-dark">Checkout</button></a>
        </div>

        {% endif %}

    </ul>
</div>