<style>
    .sidebar{
    width: 230px;
    height: 100vh;
    border-right:solid 1px rgb(216, 216, 216);
}
.sidebar-collapse{
    width: 50px;
    height: 100vh;
    border-right:solid 1px rgb(216, 216, 216);
    overflow: hidden;
}
.sidebar-collapse ul li{
    text-wrap:calc(0);
    cursor: pointer;
}
.sidebar>ul>li:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    transition: background-color 0.3s, padding-left 0.3s;
}
.sidebar>ul>li {
    display: block;
}

</style>
<div class="fixed-top sidebar bg-white pt-4 px-2">
    <div class="user-profile d-flex mt-3" style="height: 5px;">

    </div>
    <hr>
    <ul>
        <li><i class="fa fa-home mx-2" aria-hidden="true"></i>Dashboard<br><br></li>
        <!-- <li><i class="fa fa-home mx-2" aria-hidden="true"></i>Dashboard<br><br></li> -->
        <li><i class="fa fa-square-check mx-2" aria-hidden="true"></i> My Products<br><br></li>
        <li><i class="fa fa-circle-plus mx-2" aria-hidden="true"></i> Add Product<br><br></li>
        <li><i class="fa fa-arrow-trend-up mx-2" aria-hidden="true"></i> Stock Management<br><br></li>
        <li><i class="fa fa-chart-simple mx-2" aria-hidden="true"></i> Reports & Analytics<br><br></li>
    </ul>
</div>