<div class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; height: 60px">
    <div class="container-fluid" style="height: 30px;">
        <!-- <a class="navbar-brand" href="#">My App</a -->

        <form class="d-flex" action="/search" method="GET" style="width: 70vw;">
            <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="#">Profile</a>
            <a class="nav-link" href="#">Logout</a>
        </div>
    </div>
</div>

<!-- Main Content -->


